services:
  - type: web
    name: laravel-app
    env: docker
    plan: free
    branch: main
    buildCommand: |
      composer install --no-dev --no-interaction --prefer-dist --optimize-autoloader
      chmod +x scripts/00-laravel-deploy.sh
    startCommand: /start.sh
    envVars:
      - key: APP_KEY
        sync: false
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        sync: false
